# Life After Work

## Main question:

- Is life expectancy increasing faster than retirement age?

### Secondary questions:
- How many years, on average, do people live after retiring?
- How have life expectancy and retirement age changed over time?
- What are the countries with the highest and lowest remaining life expectancy after retirement?
- And what about <span style="color:green"><font size="5">**healthy**</font></span> life expectancy?

## Data source:

[Our World in Data](https://ourworldindata.org)

### Understanding the data:
- How life expectancy is calculated [period vs cohort](https://ourworldindata.org/period-versus-cohort-measures-whats-the-difference)
- "Learn more about this data" on each table's

## EDA

In [2]:
from pandas import read_csv

### Average effective age of retirement, women

In [101]:
retirement_w = read_csv('data/average-effective-retirement-women.csv')

print('## Dataframe info:\n')
retirement_w.info()

print('\n\n## NA value counts:\n')
print(retirement_w.isna().sum())

print('\n\n## Entities missing Code:\n')
print(retirement_w.Entity.loc[retirement_w.Code.isna()].value_counts())

print('\n\n## Check if there is any Code for those two entities:\n')
print(retirement_w.groupby('Entity').Code.value_counts(dropna=False).loc[
    ['Europe average','OECD average']])

print('\n\n## Code values in use:\n')
print(*sorted(retirement_w.Code[retirement_w.Code.notna()].unique()))

# Assign new codes
retirement_w.loc[retirement_w.Entity=='Europe average', 'Code'] = 'EU'
retirement_w.loc[retirement_w.Entity=='OECD average', 'Code'] = 'OECD'

print('\n\n##Confirm that there are no missing values left:\n')
print(retirement_w.isna().sum())

## Dataframe info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2153 entries, 0 to 2152
Data columns (total 4 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Entity                                             2153 non-null   object
 1   Code                                               2055 non-null   object
 2   Year                                               2153 non-null   int64
 3   Average effective age of retirement, women (OECD)  2153 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 67.4+ KB


## NA value counts:

Entity                                                0
Code                                                 98
Year                                                  0
Average effective age of retirement, women (OECD)     0
dtype: int64


## Entities missing Code:

Entity
Europe average    49
OECD average      49
Name: count, dtype: int64


## Check if there is any Code for those two entities:

Entity          Code
Europe average  NaN     49
OECD average    NaN     49
Name: count, dtype: int64


## Code values in use:

ARG AUS AUT BEL BGR BRA CAN CHE CHL CHN CYP CZE DEU DNK ESP EST FIN FRA GBR GRC HRV HUN IDN IND IRL ISL ISR ITA JPN KOR LTU LUX LVA MEX MLT NLD NOR NZL POL PRT ROU RUS SAU SVK SVN SWE TUR USA ZAF


##Confirm that there are no missing values left:

Entity                                               0
Code                                                 0
Year                                                 0
Average effective age of retirement, women (OECD)    0
dtype: int64

### Average effective age of retirement, men

In [102]:
retirement_m = read_csv('data/average-effective-retirement-men.csv')

print('## Dataframe info:\n')
retirement_m.info()

print('\n\n## NA value counts:\n')
print(retirement_m.isna().sum())

print('\n\n## Entities missing Code:\n')
print(retirement_m.Entity.loc[retirement_m.Code.isna()].value_counts())

print('\n\n## Check if there is any Code for those two entities:\n')
print(retirement_m.groupby('Entity').Code.value_counts(dropna=False).loc[
    ['Europe average','OECD average']])

print('\n\n## Code values in use:\n')
print(*sorted(retirement_m.Code[retirement_m.Code.notna()].unique()))

# Assign new codes
retirement_m.loc[retirement_m.Entity=='Europe average', 'Code'] = 'EU'
retirement_m.loc[retirement_m.Entity=='OECD average', 'Code'] = 'OECD'

print('\n\n##Confirm that there are no missing values left:\n')
print(retirement_m.isna().sum())

## Dataframe info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2153 entries, 0 to 2152
Data columns (total 4 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Entity                                           2153 non-null   object
 1   Code                                             2055 non-null   object
 2   Year                                             2153 non-null   int64
 3   Average effective age of retirement, men (OECD)  2153 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 67.4+ KB


## NA value counts:

Entity                                              0
Code                                               98
Year                                                0
Average effective age of retirement, men (OECD)     0
dtype: int64


## Entities missing Code:

Entity
Europe average    49
OECD average      49
Name: count, dtype: int64


## Check if there is any Code for those two entities:

Entity          Code
Europe average  NaN     49
OECD average    NaN     49
Name: count, dtype: int64


## Code values in use:

ARG AUS AUT BEL BGR BRA CAN CHE CHL CHN CYP CZE DEU DNK ESP EST FIN FRA GBR GRC HRV HUN IDN IND IRL ISL ISR ITA JPN KOR LTU LUX LVA MEX MLT NLD NOR NZL POL PRT ROU RUS SAU SVK SVN SWE TUR USA ZAF


##Confirm that there are no missing values left:

Entity                                             0
Code                                               0
Year                                               0
Average effective age of retirement, men (OECD)    0
dtype: int64